# Node
node_modules/
npm-debug.log
yarn-error.log

# Circom / snarkjs build artifacts
tools/*.ptau
tools/*.zkey
tools/*.wtns
tools/*.r1cs
tools/*.sym
tools/*.json
tools/*.dat
tools/*.key
tools/*.bin
tools/proof.json
tools/public.json
tools/vote-email_js/

# Build folder
build/

# Email samples & generated paths (secrets!)
emls/*.eml
paths/*.json
allowlist.csv

# Local env
.env
.DS_Store

lib/
